body{
	background-color: #EFEEEC;
	
	
}
#ex0{
	background: #4863A0;
	background-clip:padding-box;
	
	width:50%;
	margin-bottom: 0.1%;
	margin-right:25%;
	margin-left:25%;
	margin-top: 10px;
	height: 45px;
	border-radius: 10px;
	
}
#ex1{
	background: #4863A0;
	background-clip:padding-box;
	
	width:50%;
	margin-bottom: 0%;
	margin-right:25%;
	margin-left:25%;
	margin-top: 10px;
	height: 500px;
	border-radius: 15px;
	
}
.center-div{
	background-clip:padding-box;
	padding: 2px;
	display:inline-block;
	overflow:auto;
	height: 400px;
	width:99%;
	word-wrap:break-word;
	margin:auto;
	text-align:center;
}
h2{
	text-align:center;
	color: black;
	font-style: italic;
}
h3{
	text-align:center;
	color: black;
	font-style: normal;
	margin:0px;
}
button{
	margin: 0 auto;
}
P{
	color:black;
	padding:10px;
	background-color: #C2DFFF;
	border-radius:5px;
	text-align:center;
	position:relative;
	
}
li{
	list-style-type:none;
	background: #FEFCFF;
	padding:5px;
	text-align:left;
	margin-right:5px;
	margin-left:5px;
	box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, .7);
	margin: 0 0 3px 0;
}
li:nth-child(odd){
    list-style-type:none;
	background: #DAE4EA;
	text-align:left;
	box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .5);
	margin-right:5px;
	margin-left:5px;
	margin: 0 0 3px 0;
}

li2{
	list-style-type:none;
	background: #008000;
	padding:5px;
	text-align:left;
	margin-right:5px;
	margin-left:5px;
	box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, .7);
}
input[type="text"]{
	border-radius:5px;
	box-shadow: inset 1px 1px 2px 0 #707070;
	word-break: break-word;
	

}
.height
{
	height:50px;
	width:80%;
	word-wrap:break-word;
	word-break: break-word;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.center{
	
	display:inline-table;
	margin:2;
	
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
